@import "fonts.css";

/*==========Global==============*/
.menu-top-mobie {
  display: none;
}
.menu-products-mobie {
  display: none;
}
.new-arrivals-mobie {
  display: none;
}
.col {
  float: left;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16,6666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333333%;
}
.col-5 {
  width: 41.6666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333333%;
}
.col-8 {
  width: 66.6666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333333%;
}
.col-11 {
  width: 91.6666667%;
}
.col-12 {
  width: 100%;
}
.font-Livvic {
  font-family: "Livvic";
}
.font-RobotoMono {
  font-family: "Roboto Mono";
}
.font-TenorSans {
  font-family: "Tenor Sans";
}
.font-YesevaOne {
  font-family: "Yeseva One";
}
.font-Krungthep {
  font-family: "Krungthep";
}
.font-Menlo {
  font-family: "Menlo";
}
.d-block {
  display: block;
}

body {
  color: black;
  font-family: "Menlo";
  font-size: 14px;
}

.container {
  margin: auto;
  padding: 0 20px;
}
.row {
  clear: both;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}
/*==========Global==============*/


h1 {
  font-size: 40px;
  font-weight: bold;
  /* letter-spacing: 2px; */
}
h2 {
  font-size: 22px;
  font-weight: bold;
  text-indent: 10px;
  font-family: "Yeseva One";
}
h3 {
  font-family: "Yeseva One";
  font-size: 20px;
}

/*==========banner==============*/
nav {
  background: url(../images/bg_header.png) bottom no-repeat  ;
  min-height: 100px; 
  padding: 30px 0;
  background-size: cover;
}
.logo {
  border-radius: 50%;
  width: 60px;
}
.brand {
  float: left;
  text-align: center;
}
.brand-name {
  font-family: "Bangla-Sangam-MN";
}
.slogan {
  font-family: "Menlo";
  font-weight: bold;
  font-size: 12px;
  padding: 4px 0;
}
.menu-top {
  margin-top: 10px;
}
.menu-top li {
  display: inline-block;
  
}
.menu-top li a {
  display: block;
  color: black;
  font-family: "Krungthep";
  padding: 15px;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.shopping-cart {
  display: block;
  padding: 15px;
  position: relative;
  text-align: right;
}

.shopping-cart span {
  background-color: #fff;
  box-shadow: 2px 2px 8px 0px #a7a7a7;
  border-radius: 50%;
  color: #000;
  font-size: 10px;
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  line-height: 20px;
  top: 0;
  right: 0;
}
/*==============banner===============*/



/*=================main================*/
main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.button-right img, .button-center img {
  background-color:  gray;
  border-radius: 50%;
}
.bg-home {
  background: url(../images/BG.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  max-width: 100%;  
}

.all-products, .menu-products li,.page-number li {
  display: inline-block;
}

.menu-products li {
  display: inline-table;
  padding-left: 30px;
}

.menu-products ul li i {
  padding-left: 10px;
}
.sell {
  text-align: right;
  /* padding-top: 90px;
  padding-right: 30px; */
}


.all-products {
  line-height: 45px;
  width: 100%;
}

.all-products i {
  vertical-align: middle;
  padding-right: 10px;
}

.item-img {
  width: 100%;
  border-radius: 20%;
}

.name-product {
  padding-top: 30px;
  font-size: 14px;
  font-family: "Tenor Sans";
  font-weight: bold;
}

.price-product {
  font-family: "Roboto Mono";
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
}

.text-center {
  text-align: center;
}

.button-right {
  width: 25px;
  float: right;
}
.button-center {
  padding: 40px 0;
  display: block;
  text-align: center;
  width: 100%;
}

.page-number ul li {
  padding-left: 8px;
  font-weight: bold;
}


/*==============main==================*/


/*===============footer=================*/
footer {
  background: url(../images/bg_footer.png) top no-repeat;
  background-size: cover;
  clear: both;
  padding-top: 80px; 
}
.contact {
  clear: both;
  padding: 15px 0 40px 0;
}
.icon-right {
  float: right;
  padding-left: 20px;
}
#address ul li {
  font-family: "Livvic";
  font-weight: bold;
  font-size: 15px;
}
#address ul li {
  padding-top: 0px;
}
#address ul li i {
  padding-right: 5px;

}
/*==================footer===============*/




strong {
  font-weight: bold;
}
.product {
  padding: 20px;
}

.padding-30 {
  padding: 30px;

}
.categories {
  padding-top: 60px;
}

.categories img {
  float: right;
  padding-right: 10px;

}
.categories a {
  padding-left: 10px;
}
.style-categories h3, .devices h3 {
  padding: 40px 0;
  }
.devices {
  padding-left: 25px;
}
.style-categories {
  padding-left: 60px;
  }
.devices i {
  padding-right: 30px;
}
.list-phone, .list-style {
  padding: 20px 0;

}
.list-address {
  padding-bottom: 7px;
}

.float-right {
  float: right;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-top-50 {
  padding-top: 50px;
}
.padding-top-60{
  padding-top: 60px;
} 
.padding-top-90 {
  padding-top: 90px;
}


a {
  color: black;
  text-decoration: none;
  
}
.page-number-bottom {
  padding-top: 40px;
}
.price-product-all {
  display: flex;
  justify-content: space-between;
  
}
/*=====hover======*/
.menu-top li a:hover {
  color: royalblue;
  transition: 0.3s;
  padding-top: -10px;
}
.zoom:hover {
  font-size: 150%;
  color: salmon;
  font-family: "Livvic";
}
.fb-ig i:hover {
  font-size: 150%;
  color: green;
}
.phone-number>p:hover {
  font-size: 150%;
  color: green;
}
.list-phone:hover {
  background-color: #f5d5bc;
  border-radius: 5%;
}
.list-phone a:hover {
  transition: 0.5s;
}
.list-style:hover{
  background-color:  #cddae3 ;
  border-radius: 0 50% 50% 0;
}


/*
.shopping-cart a img:hover {
  width: 40px;
}*/
  

.clearboth {
  clear: both;
}


/* Restyle */
.bg-patern {
  position: relative;
  background: url(../images/bg_title1.png) center no-repeat;
  background-size: contain;
  width: max-content;
  padding: 2rem;
}
.bg-patern.bg-2 {
  background: url(../images/bg_title2.png) center no-repeat;
  background-size: contain;
}
.bg-patern.bg-3 {
  background: url(../images/bg_title3.png) center no-repeat;
  background-size: contain;
}

.mr-0 {
  margin-right: 0;
}
.ml-auto {
  margin-left: auto;
}